<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/_icon_launcher_2"
        android:icon="@drawable/_icon_launcher_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tsunami_tv">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${api_key}" />

        <activity
            android:name=".Activities.SplashScreenActivity"
            android:exported="true"
            android:icon="@drawable/_icon_launcher_2"
            android:logo="@drawable/_icon_launcher_2"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.MarkerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.SignalActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

    </application>

</manifest>